body{
  margin: 0;
  background-color: blue
  
}
.Section-container{
  background-color: white;
  width: 190px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  /* text-align: center; */
  
}
h1{
  color: white;
  text-align: center;
  font-size: 200%;

}
li{
  padding-top: 10px;
  text-decoration: none;
  list-style-type:none;
 

}